/*
banner is put into #banner-div by java. #banner-div is put on top of every page(body) in HTML code.
 the banner consists of: <image src=background image> <anchor image> </image>. 
 The anchor is an img and is positioned by banner.css on top of the "background" img
 if not done in this way, the anchor image is put into its own block and thus cant be put on top of background img

banner size is fixed and does not resize with window size
 */

#banner-div {
  top: 5;
  min-height: 120px;
}

.home-image {
  position: absolute;
  top: 16px;
  left: 20px;
}

.banner-image {
  min-width: 100%;
  min-height: 120px;
}