.input-field {
  font-family: 'Roboto', sans-serif;
  border: 2px solid rgba(175, 207, 234, 0.59);
  padding: 10px;
  margin: auto;
  display: block;
}

.menu-buttons-div {
  margin-top: 10px;
}

.number-buttons-div {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    "j k l";
  text-align: center;
  margin-top: 20px;
  align-self: center;
  justify-self: center;
}

#button9 {
  /*align-self: center;
  justify-self: center;*/
  grid-area: k;
}

.operation-buttons-outer-div {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  text-align: center;
  margin-top: 20px;
  align-self: center;
  justify-self: center;
}

.operation-buttons-div {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  text-align: center;
  align-self: center;
  justify-self: center;
  margin-left: 33px;
  margin-right: 20px;
}

.equals-button {
  width: 80px;
  height: 86px;
  font-size: 20px;
  margin-left: 50px;
}

.clear-button-div {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: rgba(70, 131, 180, 0.248);
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-dark-theme {
  background-color: rgba(81, 98, 114, 0.929);
  color: white;
}

.clear-button {
  width: 170px;
  height: 80px;
  font-size: 20px;
  margin-right: 5px;
}

.undo-button {
  width: 80px;
  height: 80px;
  font-size: 20px;
  margin-left: 5px;
}

.button:hover {
  background-color: deepskyblue;
  font-style: italic;
  font-weight: bold;
}

.button-dark-theme:hover {
  background-color: rgb(52, 115, 100);
  font-style: italic;
  font-weight: bold;
}