html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, white, grey);
  margin: 0;
  padding: 1rem;
}