a:visited {
  color: rgb(255, 0, 204)
}

a:hover {
  color: rgb(255, 128, 0);
  font-weight: bold;
}

#home-link:visited {
  color: orange;
}

#home-link:hover {
  color: rgb(25, 0, 255);
  font-weight: bold;
}

/* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
body {
  margin: 0;
  font-family: Roboto, Arial;
  background-color: rgba(245, 234, 189, 0.333);

}

.body-dark-theme {
  background-color: #121212c3;
  color: #ffffff;
}

.dark-theme-button {
  margin-left: 20px;
}