body {
  font-family: Roboto, Arial;
  background-color: rgba(245, 234, 189, 0.333);
  /* The <body> element has a default margin of 8px
     on all sides. This removes the default margins. */
}

.body-dark-theme {
  background-color: #121212c3;
  color: #ffffff;
}

.dark-theme-button {
  margin-left: 20px;
}