ul {
  width: 300px;
  margin: 0px auto 0px auto;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 10px auto 20px auto;
}

li {
  padding-bottom: 10px;
}

body {
  margin: 0;
  background: url(../media/banner.gif) no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}