* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.columns-container {
  display: flex;
  flex-wrap: wrap;
}

.side-column {
  background-color: rgb(232, 232, 160);
  flex: 30%;
  padding: 20px;
}

.main-column-wrapper {
  flex: 70%;
}

.main-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 70%;
  padding: 20px;
  padding-top: 20px;
}



.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  margin: 5px;
}

.fakephoto {
  background-color: #cd9797;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
}

@media screen and (max-width: 700px) {
  .columns-container {
    flex-direction: column;
  }
}