body {
  font-family: Arial, Helvetica, sans-serif;
}

.sandboxButton1 {
  width: 100px;
  height: 100px;
}


.sandboxButton2 {
  padding: 20px;
}

.sandboxButton3 {
  border: 20px solid black;
}

.sandboxButton4 {
  margin: 20px;
}

.sandbox-table {
  margin: 10px;
}

.table-names {
  /* border-collapse: collapse; */
  border: 5px dotted black;
  width: 600px;
  background-color: rgb(126, 126, 192);
}



/* .table-names tr {
   height: 50px;
  border-top: 10px solid goldenrod;
  border-bottom: 10px solid black;
} */

.table-names tr td {
  border-top: 7px solid goldenrod;

}

.table-names tr:nth-child(odd) {
  background-color: aqua;
}

.table-names tr:hover {
  background-color: blueviolet;
}

/* overflow::scroll; 
box-shadow
horizontal offset
blur distance
spread of shadow

*/